# An Introduction to Python

Python is a scientific programming language that is super fun and easy to pick up! Whether you are asdlfjasdlfkjsdlfRight now, you are working within a "Jupyter Notebook." Most people who code

Here are four common data types you will encounter in Python!
* Integers - Whole numbers
* Floats - Real numbers
* Booleans - True/False
* Strings - Characters/Words

We can use the "print" function to print out very basic numerical and string expressions to the user interface.

In [21]:
print 3 # integer
print 3.5 # float
print 3 + 3.5 # float
print True # boolean
print "Hello World" #string

3
3.5
6.5
True
Hello World

You can concatenate together data types in the print function using a comma.

In [24]:
print 3, 5
print "Hello World is", 2, "word long"

3 5

## Basic data types

## Assigning Variables

You can declare and assign variables as such:

In [12]:
x = 4
print "The variable", x, "is of", type(x)

The variable 4 is of <type 'int'>

With numeric values, you can do a lot of basic arithmetic operations.

In [9]:
print x + 1   # Addition
print x - 1   # Subtraction
print x * 2   # Multiplication
print x ** 2  # Exponentiation (one way)
print x^(1/2) # Exponentiation (other way)

4
2
6
9
3

In [5]:
x = 3
print "The variable x is a:", type(x)
x = x + 0.1
print "The variable x is now a:", type(x)

The variable x is a: <type 'int'>
The variable x is a: <type 'float'>

In [1]:
x = 3
print type(x) # Prints "<type 'int'>"
print x       # Prints "3"
print x + 1   # Addition; prints "4"
print x - 1   # Subtraction; prints "2"
print x * 2   # Multiplication; prints "6"
print x ** 2  # Exponentiation; prints "9"
x += 1
print x  # Prints "4"
x *= 2
print x  # Prints "8"
y = 2.5
print type(y) # Prints "<type 'float'>"
print y, y + 1, y * 2, y ** 2 # Prints "2.5 3.5 5.0 6.25"

<type 'int'>
3
4
2
6
9
4
8
<type 'float'>
2.5 3.5 5.0 6.25